
@media (max-width: 1200px) {
  #hero{
    .container {
      .hero {
      .col {
        .hero--card {
          h1 {

            font-size: 3.7em;
            line-height: 46px;

          }
          .p-4 {
            padding: 0.5rem!important;
          }
          &__btn1 {
            padding: 0.5em 0.5em;
            font-size: 0.9em;
            margin-top: 1em;
          }
          &__btn2 {
            padding: 0.5em 0.5em;
            font-size: 0.9em;
            margin-top: 0.2em;
          }
        }
        .col--currency {
          height: 260px;
          h3 {
            font-size: 44px;
            margin-bottom: 0;
          }
          h2 {
            font-size: 14px;
            padding-top: 0.5em;

          }
          h4 {
            font-size: 22px;
            margin-bottom: 0.3em;

          }
          &__current {
            p {
              font-size: 29px;
            }
          }

        }
      }
      }
    }


  }
  #popular {
    .container {
      .popular {
        margin-left: -50px;
      }
    }
  }

}
@media (max-width: 1024px){
  #blocks .container .blocks--block3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blocks {
    .container {
      .blocks {
        &--block3 {
          .div--block3 {
            .blocks--block3__cards {
              margin: 0.6rem 17px 0.6rem ;
            }
            display: flex;
            .block__cards-1{
              display: flex;
              margin-left: -42px;
              padding: 0 20px ;
            }
            .block__cards-2 {

              display: flex;
            }
          }

          button {
            display: none;
          }
        }


      }

    }

  }

}
@media (max-width: 992px){
  .navbar-nav {
    display: none;
  }
  .navbar__hr {
    display: none;
  }
  #hero {
    .container {
      .hero {
        &--card {
          margin-top: 50px;
          .p-4 {
          }
          &__bx {
            align-items: flex-start;
            justify-content: center;
          }

        }

      }

    }

  }
  #blocks {
    .container {
      .blocks {
        &--block3 {
          margin-top: 50px;
            display: flex;
          align-items: center;

          &__cards{

            div   {
              margin-left: 10px;

            }


          }

          .block__cards-1{
            display: flex;
            flex-direction: column;
          }
          .block__cards-2 {
            flex-direction: column;

            display: flex;
          }
          button {
            display: none;
          }
        }


      }

    }

  }



}
@media (max-width: 768px)
{
  .navbar-nav {
    display: block;
  }
  .navbar--bell {
    i
    {
      display: none;

    }
    hr {
      display: none;
    }
  }
  .navbar--input {
    margin: 1em 0 1.5em 1.5em;
    i {

      left: 187px;
    }

  }


}
@media (max-width: 568px) {
 #popular {
   padding: 50px;
   .container {
     .popular {
       &--title {
         align-items: center;
         text-align: center;
         flex-direction: column;
         justify-content: center;
         &__sellers {
           h2 {

             font-size: 2.5em;
           }
           select{
             font-size: 2em;
             option {
               font-size: 20px;

             }
           }

         }

       }

     }
   }
 }
  #blocks {
    .container {
      .blocks {
        margin: 0;

      }
    }
  }
}

@media (max-width: 450px) {
  #blocks {
    .container {
      .blocks {
        &--block1 {
          &__user {
            &--btn {
              h6 {
                font-weight: 400;
                font-size: 0.775em;
              }
            }

            &--users {
              div h1 {
                font-size: 1rem;
              }


            }

          }

        }

        &--block2 {
          &__cards {
            .btnEth-card {
              font-size: 0.6em;
            }
            &--card
            button {
              font-size: 9px;
            }

            p {
              font-size: 0.675rem;
            }
          }
        }

        &--block3{

          &__cards{
            img {
              max-width: 40%;
            }
            div   {
              margin-left: 10px;
              p {


                font-size: 0.675em;

              }
              h6 {
                font-size: 0.675em;


              }
            }


          }

        }
        .swiper-wrapper {
          justify-content: center;
        }

      }
    }
    }
  }

