@media (max-width: 1200px) {
  #hero .container .hero .col .hero--card h1 {
    font-size: 3.7em;
    line-height: 46px;
  }
  #hero .container .hero .col .hero--card .p-4 {
    padding: 0.5rem !important;
  }
  #hero .container .hero .col .hero--card__btn1 {
    padding: 0.5em 0.5em;
    font-size: 0.9em;
    margin-top: 1em;
  }
  #hero .container .hero .col .hero--card__btn2 {
    padding: 0.5em 0.5em;
    font-size: 0.9em;
    margin-top: 0.2em;
  }
  #hero .container .hero .col .col--currency {
    height: 260px;
  }
  #hero .container .hero .col .col--currency h3 {
    font-size: 44px;
    margin-bottom: 0;
  }
  #hero .container .hero .col .col--currency h2 {
    font-size: 14px;
    padding-top: 0.5em;
  }
  #hero .container .hero .col .col--currency h4 {
    font-size: 22px;
    margin-bottom: 0.3em;
  }
  #hero .container .hero .col .col--currency__current p {
    font-size: 29px;
  }
  #popular .container .popular {
    margin-left: -50px;
  }
}
@media (max-width: 1024px) {
  #blocks .container .blocks--block3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blocks .container .blocks--block3 .div--block3 {
    display: flex;
  }
  #blocks .container .blocks--block3 .div--block3 .blocks--block3__cards {
    margin: 0.6rem 17px 0.6rem;
  }
  #blocks .container .blocks--block3 .div--block3 .block__cards-1 {
    display: flex;
    margin-left: -42px;
    padding: 0 20px;
  }
  #blocks .container .blocks--block3 .div--block3 .block__cards-2 {
    display: flex;
  }
  #blocks .container .blocks--block3 button {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    display: none;
  }
  .navbar__hr {
    display: none;
  }
  #hero .container .hero--card {
    margin-top: 50px;
  }
  #hero .container .hero--card__bx {
    align-items: flex-start;
    justify-content: center;
  }
  #blocks .container .blocks--block3 {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  #blocks .container .blocks--block3__cards div {
    margin-left: 10px;
  }
  #blocks .container .blocks--block3 .block__cards-1 {
    display: flex;
    flex-direction: column;
  }
  #blocks .container .blocks--block3 .block__cards-2 {
    flex-direction: column;
    display: flex;
  }
  #blocks .container .blocks--block3 button {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    display: block;
  }
  .navbar--bell i {
    display: none;
  }
  .navbar--bell hr {
    display: none;
  }
  .navbar--input {
    margin: 1em 0 1.5em 1.5em;
  }
  .navbar--input i {
    left: 187px;
  }
}
@media (max-width: 568px) {
  #popular {
    padding: 50px;
  }
  #popular .container .popular--title {
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  #popular .container .popular--title__sellers h2 {
    font-size: 2.5em;
  }
  #popular .container .popular--title__sellers select {
    font-size: 2em;
  }
  #popular .container .popular--title__sellers select option {
    font-size: 20px;
  }
  #blocks .container .blocks {
    margin: 0;
  }
}
@media (max-width: 450px) {
  #blocks .container .blocks--block1__user--btn h6 {
    font-weight: 400;
    font-size: 0.775em;
  }
  #blocks .container .blocks--block1__user--users div h1 {
    font-size: 1rem;
  }
  #blocks .container .blocks--block2__cards .btnEth-card {
    font-size: 0.6em;
  }
  #blocks .container .blocks--block2__cards--card button {
    font-size: 9px;
  }
  #blocks .container .blocks--block2__cards p {
    font-size: 0.675rem;
  }
  #blocks .container .blocks--block3__cards img {
    max-width: 40%;
  }
  #blocks .container .blocks--block3__cards div {
    margin-left: 10px;
  }
  #blocks .container .blocks--block3__cards div p {
    font-size: 0.675em;
  }
  #blocks .container .blocks--block3__cards div h6 {
    font-size: 0.675em;
  }
  #blocks .container .blocks .swiper-wrapper {
    justify-content: center;
  }
}

/*# sourceMappingURL=media.css.map */
