@mixin between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@mixin start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
@mixin btn1 {
  padding: 0.8em 0.9em;
  background: #3772FF;
  border-radius: 90px;
  font-weight: 700;
  font-size: 0.9em;
  color: #FCFCFD;
}

@mixin btn2 {
  font-weight: 700;
  font-size: 0.9em;
  color: #23262F;
  padding: 0;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  background: transparent;

}

@mixin btnEth {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #45B36B;
  border: 2px solid #45B36B;
  border-radius: 4px;
  padding: 0.3rem;

}

