@mixin between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@mixin btn1 {
  padding: 10px 14px;
  background: #3772FF;
  border-radius: 90px;
  font-weight: 700;
  font-size: 14px;
  color: #FCFCFD;
}

@mixin btn2 {
  font-weight: 700;
  font-size: 14px;
  color: #23262F;
  padding: 12px 16px;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  background: transparent;
}